@import '_variables.scss';

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Rubik', sans-serif;
   line-height: 1;
   overflow-y: hidden;
}

ul {
   list-style: none;
}

input {
   border: none;
}

button {
   background: none;
   border: none;
}

@media only screen and (max-width: 76.875em) {
   html {
      font-size: 45%;
   }
}
